* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

.title {
    margin: 0;
    padding: 25px 0;
    background: steelblue;
}
    .title h1 {
        margin: 0;
        text-align: center;
        color: darkblue;
    }

.pixel {
    width: 8px;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: crosshair;
}

#container {
    display: flex;
    flex-wrap: wrap;
}




